.sudan {
	font-size: 16px !important;
}
.space {
	padding-top: 40px !important;
}
.font-green{color:#4caf50 !important}
.font-red{color:#f44336 !important}
.readmore {
	color:#ffffff !important;
	background-color:#607d8b !important;
}

.detailsul {
  list-style: none;
}

.detailscolor {
    background-color: #F7F7F7;
}