.myname {
	font-size: 16px;
	text-transform: uppercase;
	padding-left: 3px;
}
.font-green{color:#4caf50 !important}
.font-red{color:#f44336 !important}
.readmore {
	color:#ffffff !important;
	background-color:#607d8b !important;
}