<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.tahweelapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Tahweel</name>
    <description>
        Tahweel App
    </description>
    <author email="info@tahweelapp.com" href="http://phonegap.com">
        OD13
    </author>
    <content src="index.html" /> 
	<icon src="icon.png" />
	<access origin="*" />
	<allow-intent href="*" />
	<allow-navigation href="*" />
	
	<!-- for iOS -->
	<feature name="SocialSharing">
	  <param name="ios-package" value="SocialSharing" />
	</feature>
	
	<!-- for Android (you will find one in res/xml) -->
	<feature name="SocialSharing">
	  <param name="android-package" value="nl.xservices.plugins.SocialSharing" />
	</feature>
	
	<!-- for Windows Phone -->
	<feature name="SocialSharing">
	  <param name="wp-package" value="SocialSharing"/>
	</feature>

	<plugin name="cordova-plugin-x-socialsharing" source="npm" />
	<plugin name="cordova-plugin-whitelist" source="npm" />
	<plugin name="cordova-plugin-splashscreen" source="npm" />
	<splash src="splash.png" />
	<splash platform="android" qualifier="port-ldpi" src="img/splash/andoid/port-ldpi.png" />
	<splash platform="android" qualifier="port-mdpi" src="img/splash/android/port-mdpi.png" />
	<splash platform="android" qualifier="port-hdpi" src="img/splash/android/port-hdpi.png" />
	<splash platform="android" qualifier="port-xhdpi" src="img/splash/android/port-xhdpi.png" />
	 
	<splash platform="android" qualifier="land-ldpi" src="img/splash/android/land-lhdpi.png" />
	<splash platform="android" qualifier="land-mdpi" src="img/splash/android/land-mdpi.png" />
	<splash platform="android" qualifier="land-hdpi" src="img/splash/android/land-hdpi.png" />
	<splash platform="android" qualifier="land-xhdpi" src="img/splash/android/land-xhdpi.png" />
	
	<splash platform="windows" src="img/splash/windows/1152x1920.png" width="1152" height="1920"/>
	<preference name="SplashScreenDelay" value="5000" />
</widget>
